body {
    margin-left: 80px;
    margin-right: 80px;
    color: rgb(54, 54, 54);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 27px;
}

p {
    font-size: 15px; color: grey;
}